@font-face {
    font-family: 'Tiny5';
    src: url('../font/font.woff2');
}

/* COMMON */
html {
    overscroll-behavior-y: none;
    scrollbar-width: none;
}

body {
    margin: 0px;
    background-color: #B5B9C4;
    max-width: 100%;
    overflow-x: hidden;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
p {
    margin: 0px;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

.hidden {
    display: none !important;
}

h1 {
    font-size: 23px;
    text-wrap-mode: nowrap;
}

button {
    background: none;
    border: none;
    color: black;
}

/* VIEW START */

#view_start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

/* VIEW INSTRUCTIONS */

/* VIEW CAMERA PERMISSION */

/* VIEW GAME */

#view_game_discover {
    margin-top: 7.1vh;
    height: 93vh;
    width: 100%;
    background: #B5B9C4;
    position: fixed;
}

#view_game_discover_camera {
    height: 99%;
    background-color: black;
    margin: 0px 0.5em 0.5em 0.5em;
    border-radius: 45px;
    object-fit: cover;
    max-width: -webkit-fill-available;
    width: 100%;
}

.view_game_discover_capture {
    background-color: #B5B9C4;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em;
    margin-inline: auto;
    width: 150px;
    height: 45px;
    border-radius: 45px;
    text-align: center;
    padding: 1em;
    transition: 0.3s;
    overflow: hidden;
}

.view_game_discover_capture_detection {
    height: 190px;
    left: 2em;
    right: 2em;
    width: calc(100% - 6em);
    max-width: 500px;
    border-radius: 2em;

}

#view_game_discover_capture h1 {
    font-size: 28px;
}

#view_game_discover_capture_button {
    background-color: #DE2931;
    width: 100px;
    height: 100px;
    margin-top: 1em;
    margin-bottom: 1em;
    aspect-ratio: 1;
    border-radius: 100%;
    padding: 1.5em;
}

#view_game_discover_capture_button_icon {
    mix-blend-mode: soft-light;
    width: 100%;
}

#view_game_drawer {
    height: calc(100vh - 0.35em);
    background: #B5B9C4;
    position: relative;
    border-radius: 0px 0px 45px 45px;
    margin: 0px 0.5em 93vh 0.5em;
    text-align: center;
}

#view_game_drawer_log {
    position: absolute;
    display: flex;
    align-items: center;
    top: 70px;
    bottom: 75px;
    right: 0px;
    left: 0px;
}

#view_game_drawer_log_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2em 1em;
    max-height: -webkit-fill-available;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    justify-content: center;
}

.view_game_drawer_log_gallery_item {
    height: 100px;
    width: 100px;
}

.view_game_drawer_log_gallery_item canvas {
    height: 100%;
    border-radius: 1em;
}

.view_game_drawer_log_gallery_item div {
    aspect-ratio: 1;
    border: dashed black 3px;
    border-radius: 1em;
}

.view_game_drawer_log_gallery_item p {
    margin-top: 6px;
}

.view_game_drawer_log_gallery_item.not_collected {
    filter: opacity(20%);
}

#view_game_drawer_toolbar {
    position: absolute;
    bottom: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    grid-gap: 0.5em;
}

.view_game_drawer_toolbar_button {
    aspect-ratio: 1;
    padding: 0px;
    border-radius: 5em;
    padding: 8px;
    border: 2px solid rgba(0, 0, 0, 0.20);
    height: 49px;
    display: inline-flex;
    align-items: center;
    grid-gap: 0.5em;
}

#view_game_drawer_toolbar_button_score {
    background-color: #F1C14C;
}

#view_game_drawer_toolbar_button_log {
    background-color: #119465;
}

#view_game_drawer_toolbar_button_timer {
    background-color: #0351A9;
}

.view_game_drawer_toolbar_button_icon {
    height: 100%;
    aspect-ratio: 1;
}